<%= form_for @zipcode do |f| %>
  <p>
    <%= f.text_field :data %> 
    <%= f.submit "Submit" %>
  </p>
<% end %>


<div class="temperature">
	it is <%= @temperature %> <br>
</div>

<div class="weather">
	& <%= @weather %>
</div>

<div class="wind">
	Wind is <%= @wind %> 
</div>

<div class="city">
	in <%= @city %>
</div>

<div class="updated">
	<%= @last_updated_at %>
</div>


<div class="updated">
</div>




<div class="change">

</div>
